<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">Welcome</a>
      </li>
     <li class="{% if page.title == "Usage Rules" %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage-rules">Usage Rules</a>
     </li>
	  <li class="{% if page.title == "License" %}current{% endif %}">
        <a href="{{ site.url }}/docs/license">License</a>
     </li>
    </ul>
  </aside>
</div>
